/* img {
  border-radius: 50%;
} */
/* 
button {
  padding: 12px;
  font-size: 15px;
  border: 1px solid transparent;
  background-color: blue;
  color: white;
  border-radius: 4px;
  margin: 6px;
  cursor: pointer;
} */

/* To center an intem in the middle of the page */

/* .container {
  border: 1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-container {
  text-align: center;
} */

/* TODAY */

/* body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: red;
}

.navbar {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0;
}

.line {
  height: 3px;
  width: 30px;
  background-color: green;
  margin: 5px;
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

li {
  list-style: none;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.link {
  display: flex;
  flex-direction: row;
}

@media (max-width: 765px) {
  .navbar {
    background-color: yellow;
  }

  .link {
    position: absolute;
    top: 85px;
    display: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .line {
    display: block;
  }

  .hamburger {
    position: absolute;
    top: 18px;
    left: 90%;
  }
} */

/* .show {

  display: block;
  position: absolute;
  top: 85px;
} */

body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: red;
}

.navbar {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0;
}

.line {
  height: 3px;
  width: 30px;
  background-color: green;
  margin: 5px;
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

li {
  list-style: none;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.link {
  display: flex;
  flex-direction: row;
}

@media (max-width: 765px) {
  .navbar {
    background-color: yellow;
  }

  .link {
    /* position: absolute;
    top: 85px; */
    display: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .line {
    display: block;
  }

  .hamburger {
    position: absolute;
    top: 18px;
    left: 90%;
    display: block;
  }
}

.show {
  display: block;
  position: absolute;
  top: 85px;
}
