/* img {
  border-radius: 50%;
} */
/* 
button {
  padding: 12px;
  font-size: 15px;
  border: 1px solid transparent;
  background-color: blue;
  color: white;
  border-radius: 4px;
  margin: 6px;
  cursor: pointer;
} */

/* To center an intem in the middle of the page */

/* .container {
  border: 1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-container {
  text-align: center;
} */

body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

.container {
  /* background-color: red; */
}

.navbar {
  /* padding: 15px; */
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0;
  padding: 10px;
}

.exit {
  border: 1px solid transparent;
  background-color: rgb(196, 189, 189);
  color: red;
  font-weight: 900;
  font-size: 25px;
  position: absolute;
  top: 13px;
  left: 20%;
  cursor: pointer;
}

.hamburger {
  position: absolute;
  top: 10px; /* Adjust this value to move the entire hamburger menu */
  left: 90%; /* Adjust this value to move the entire hamburger menu */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 30px;
  cursor: pointer;
  transition: transform 1s ease-in-out; /* Added transition for smooth rotation */
}

.rotate {
  transform: rotate(360deg);
}

.line {
  width: 30px;
  height: 3px;
  background-color: green;
}

ul {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

li {
  list-style: none;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.link {
  display: flex;
  flex-direction: column;
}

.sidebar {
  background-color: rgb(196, 189, 189);
  width: 30%;
  height: 100vh; /* Adjusted to fill the full viewport height */
  position: fixed; /* Positioned fixed for better control */
  top: 0;
  left: 0;
  /* Hide sidebar initially */
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.open {
  transform: translateX(0); /* Show sidebar when open class is added */
}

/* @media (max-width: 765px) {
  .navbar {
    background-color: yellow;
  }

  .link {
    
    display: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .line {
    display: block;
  }

  .hamburger {
    position: absolute;
    top: 18px;
    left: 90%;
    display: block;
  }
}

.show {
  display: block;
  position: absolute;
  top: 85px;
} */
