body {
  background-color: #f2f7fe;
}

.underline {
  width: 50px;
  height: 5px;
  background-color: red;
  margin: 0 auto;
}

img {
  border-radius: 50%;
}

button {
  padding: 12px;
  font-size: 15px;
  border: 1px solid transparent;
  background-color: blue;
  color: white;
  border-radius: 4px;
  margin: 6px;
  cursor: pointer;
}

.container {
  border: 1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-container {
  text-align: center;
}

.back .front {
  cursor: pointer;
}
